.post-right {
    width: 12em;
    max-width: 100%;
    min-height: 2em;
    margin-left: auto; /* то же, что margin-left: auto;  */
    white-space: nowrap;
}

.diff-search{
    display: none;
}

.window_main{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top:5vh;
    padding: 5vh; /* Поля вокруг изображения */
    margin-bottom: 5vh; /* Отступ снизу */
    outline: 1px solid #666; /* Параметры рамки */
    background: #f0f0f0; /* Цвет фона */

}
.class_center_text {
    text-align: center;
}

.news{
    margin-left: 15%;
    margin-right: 15%;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}

.about_p {
    font-size: 20px;
}