{% extends 'base.html.twig' %}

{% block body %}

    <div class="about">
    <section class="jumbotron text-center mt-5 ">
        <div class="container">
            <h1 class="jumbotron-heading">Главный разработчик</h1>
            <h3 class="mt-3">Марееев Роман Геннадьевич</h3>
            <p class="about_p mt-3">Инфорамаця для связи</p>

                <li>Email: 4eda777@mail.ru</li>
                <li>Телофн: 89029052160 </li>
                <li>VK: <a href="https://vk.com/pro4eda">Роман Мареев</a></li>

        </div>
    </section>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

