{% extends 'base.html.twig' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

{% include '/inc/Search.html.twig' %}

    <div class="window_main">
        <h2 class="class_center_text">Математики отечествоенной теории чисел</h2>
    <div class="container marketing mt-5">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-12 ">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:
                      140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777">
                        <image x="0" y="0" width="275" height="95" xlink:href={{ asset('images/Edmund_Landau.jpg')}} />
                    </rect>
                </svg>
                <h2>Золотарёв</h2>
                <h3>Егор Иванович</h3>
                <p>Наиболее известен как автор одного из самых простых доказательств закона взаимности, см. также Лемма Золотарёва</p>
                <p><a class="btn btn-secondary" href="{{ path('app_artical_show' , {slug: 'landay-German'}) }}">Подробнее»</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-12">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>

                <h2>Чебышёв</h2>
                <h3>Пафнутий Львович</h3>
                <p>Русский математик и механик, основоположник петербургской математической школы, академик Петербургской академии наук (адъюнкт с 1853 года, экстраординарный академик с 1859 года)[3] и ещё 24 академий мира[4].</p>
                <p><a class="btn btn-secondary" href="#">Подробнее »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-12">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Виноградов</h2>
                <h3>Иван Матвеевич</h3>
                <p>Советский математик, академик АН СССР (1929) по Отделению физико-математических наук (математика).
                    Дважды Герой Социалистического Труда (1945, 1971). Лауреат Ленинской (1972) и Государственной премии СССР (1983) и Сталинской премии первой степени (1941)..</p>
                <p><a class="btn btn-secondary" href="#">Подробнее »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>
 </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Назад</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Вперед</a>
            </li>
        </ul>
    </nav>

{% endblock %}
        {% block javascripts %}
        {{ parent() }}
            <script>

            </script>

        {% endblock %}

