{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="info">
    <div class="col-md-8 blog-main mt-5">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            Информация о проекте
        </h3>

        <div class="blog-post">
            <h2 class="blog-post-title">Математическая генеалогия</h2>
            <p><b>Mathematics Genealogy Project (Проект «Математическая генеалогия»)</b> — это сетевая база данных, которая выдаёт академическую родословную конкретного математика, как современного, так и жившего в прошлые века[1]. К 21 февраля 2020 года в базе содержались сведения о 253485 математиках.</p>
            <hr>
            <p>Математик X считается прямым академическим потомком математика Y, если Y был научным руководителем кандидатской диссертации математика X. Для зарубежных математиков вместо кандидатской диссертации используются такие её аналоги как доктор философии (Ph.D., D.Phil.) или доктор наук (Sc.D., D.Sc., Dr.Sc.). «Математика» в рамках этого проекта понимается довольно широко и включает статистику, исследование операций, информатику, логику и (особенно в более древней части) физику. В редких исключениях в базу включаются учёные, не имевшие формально кандидатской или докторской степени — например, Лагранж[2].</p>
            <hr>
            <h2>История</h2>
            <p>Проект работает в Интернете с 1997 года, когда его основателю Гарри Кунцу (Harry Coonce), профессору университет Миннесоты (англ.), захотелось узнать научного руководителя своего научного руководителя[3]. В 1999 году он ушёл на пенсию, и через три года университет решил закрыть проект, что привело к его передислокации в университет Северной Дакоты в 2002 году. Начиная с 2003 года, проект осуществляется под эгидой Американского математического общества, а с 2005 года поддерживается грантом Математического института Клэя.</p>
            <hr>
            <p>Проект «Математическая генеалогия» полностью бесплатен для пользователей. Кроме того, каждый желающий может пополнить его новыми данными, которые проходят проверку перед публикацией. Информация этого проекта считается наиболее надёжной в той части, которая относится к 1900—1960 годам[4].</p>
            <hr>
            <h3><pre><code>Аналоги зарубежных проектов</code></pre></h3>
            <ul>
                <li><a href="https://genealogy.math.ndsu.nodak.edu/">Официальная страница Mathematics Genealogy Project (англ.)</a></li>
                <li><a href="https://academictree.org/">The Academic Family Tree</a></li>
            </ul>
        </div><!-- /.blog-post -->





        <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>
    </div>
    </div>
{% endblock %}

